footer {
	font-size: 150;
	text-align: center;
	text-decoration: underline;
	font-style: italic;


}


div img {
	width: 1000px; height: 1000px; 
	padding: 60px;
	text-align: center;
	border-radius: 250px

}

body {
	background-color: #31153d;

}

header {
	background-color: #8c7417;
	text-align: center;
	color: black;
	text-decoration: bold;

}

h1{ font-size: 90px
	 }
header img{
	border-radius: 250px;
}
h2{ font-size: 120px;
	text-align: center;
	font-style: italic; 
	font-style: bold;
		

}